{{ define "main" }}
<article class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <div class="post-content">
    {{ .Content }}

    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $byYear := $pages.GroupByDate "2006" }}
    {{ range $byYear }}
      <h2 id="year-{{ .Key }}">{{ .Key }}</h2>
      {{ $byMonth := .Pages.GroupByDate "January" }}
      {{ range $byMonth }}
        <h3>{{ .Key }}</h3>
        <table class="tool-table">
          {{ range .Pages.ByTitle }}
            <tr>
              <td class="tt-name"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
              <td class="tt-cat">
                {{- range .Params.categories -}}
                  <a href="{{ (urlize (printf "categories/%s/" . )) | absLangURL }}">{{ . }}</a>
                {{- end -}}
              </td>
              <td class="tt-source">
                {{- if eq (.Params.source) "manawydan" }}<span class="source-badge">MW</span>{{ end -}}
              </td>
            </tr>
          {{ end }}
        </table>
      {{ end }}
    {{ end }}
  </div>
</article>
{{ end }}
