{{ define "main" }}
<article class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <div class="post-content">
    {{ .Content }}

    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      {{ $count := len $taxonomy.Pages }}
      <h2 id="{{ $name | urlize }}">{{ $name | humanize }} ({{ $count }})</h2>
      <table class="tool-table">
        {{ range $taxonomy.Pages.ByTitle }}
          <tr>
            <td class="tt-name"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td class="tt-source">
              {{- if eq (.Params.source) "manawydan" }}<span class="source-badge">MW</span>{{ end -}}
            </td>
            <td class="tt-author">
              {{- range .Params.tags -}}
                {{- if ne . "Manawydan Archive" }}{{ . }}{{ end -}}
              {{- end -}}
            </td>
          </tr>
        {{ end }}
      </table>
    {{ end }}
  </div>
</article>
{{ end }}
